<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/">Show All List Item</a>
        List Item Title : <span th:text="${listitem.listitemtitle}"></span><br />
        Description : <span th:text="${listitem.listitemdesc}"}></span><br />
        Due Date : <span th:text="${listitem.duedate}"></span><br />
        <a th:ref="@{/delete/{id}(id=$listitem.id})}">Delete This List Item</a>

</body>
</html>